body{font-family: 'Roboto', sans-serif;}

*{box-sizing: border-box;}

a:link { color:inherit;
    text-decoration: none;
  }
  a:visited { color:inherit;
    text-decoration: none;
  }

.margem{display:flex;justify-content:center;}

.cinza{background-color: #FAFAFA;height: 100%;}

.branca{position:fixed;right:0;left:0; background-color: rgba(255, 255, 255, 1);
border: 1px solid #DBDBDB;z-index:2; }

.barra-topo{display:flex;
 justify-content:space-between;align-items:center;
 margin:10px;width:935px;height:45px;}

.barra-topo div{display:flex;}

.container{display:flex;
width:935px;margin-top:88px;justify-content:center}

.stories{height:118px;width:614px;background-color: #FFFFFF;
border:1px solid #DBDBDB;border-radius:3px;
display:flex;justify-content:flex-start;flex-direction:row;align-items:center;
overflow:hidden;position: relative;}

.feed{ width: 614px;}

.stories div{display:flex;flex-direction:column;align-items:center;margin:5px;}

.stories div p{font-size:12px;font-weight:400;}

.postagem div{display:flex;justify-content:space-between;align-items:center}

.postagem{background-color:#FFFFFF;margin-top:24px;margin-bottom:36px;
border:1px solid #DBDBDB;border-radius:3px;}

.margenzinha{padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;}

.topo-mobile .enviar-mobile{display:none;}

.margem .menu-mobile{display:none;}

input{border-radius:3px;background-color: #FAFAFA;
    width: 215px;height: 28px ;
    color:#979797;border: 1px solid #DBDBDB;}

.setinha{position: absolute;right: 0;z-index:1;
    background-color: rgba(255, 255, 255, 1);border-radius: 11px;}


ion-icon{width: 22px;height:22px;}

.barra-topo .topo-mobile div img{margin-left:20px;}

.barra-topo .some-no-mobile{ width: 150px;display: flex;justify-content: space-between;}

.icones-postagem{ width: 100%;display: flex;justify-content: space-between;}
.icones-postagem div{width: 100px;}

.stories .interno{position: absolute;top:4px;left:4px;}
.stories .externo{position: relative;}



.perfis-sugeridos div div p{font-size:12px;font-weight: 400;color:#8E8E8E}
.perfis-sugeridos div div strong p{font-size:14px;font-weight: 500;color:#262626}
.perfis-sugeridos div .seguir p{font-size:12px;font-weight: 500;color:#139EF2;}


.sugestoes p{font-size:12px;font-weight:500;color:#262626;}
.sugestoes strong p{font-size:12px;font-weight:500;  color: #8E8E8E;}
.side-bar .perfil .sugestao-principal p{ color:#8E8E8E;font-size:12px;font-weight: 400;}
.side-bar .perfil .sugestao-principal strong p{ color:#262626;font-size:14px;font-weight: 500;}

.perfil{display:flex;align-items:center;}


.container div .sugestoes{display:flex;
    justify-content:space-between;margin-top:20px;margin-bottom:20px;}
    
.side-bar{margin-left:642px;width:293px;position: fixed;}

.perfil-sugerido{display:flex; justify-content:space-between;align-items:center; margin-bottom: 10px;}

.perfis-sugeridos{display:flex;flex-direction:column;}

.perfil img{Width :
    56px;height: 56px; border-Radius :
    28px;margin-right: 5px;}


.perfis-sugeridos div div img{height:32px;width:32px;border-radius:16px;margin-right: 5px;}



.organizadora{width: 321px;}

.postagem div .curtida-imagem img{height:20px;width:20px;border-radius:10px;}

.postagem div div img{height:32px;width:32px;border-radius:16px;margin-right: 5px;}

.postagem div img{Width:612px;Height:612px}

.feed .postagem .margenzinha .curtida-imagem p {font-size:14px;}
.feed .postagem .margenzinha .curtida-imagem p span{font-weight: 700;}
.feed .postagem .margenzinha .quem-postou p {font-size:14px; font-weight: 500;}


.borda-story img{height: 66px;width:66px;border-radius: 33px;}
.story div {align-items:center;}

.stories p{font-size:12px;font-weight: 400;}

.lista-stories{display: flex;}
.interno img{width: 58px;height: 58px;}
@media (max-width:935px){

    .side-bar{display:none;}
    .organizadora{display: none;}
    }
    
    
    @media( max-width:614px){
        .barra-topo{width:calc( 100vw - 20px )}
    
        .container{width:100vw;}
    
        .stories{height: 90px;width:100vw;background-color: #FAFAFA;border:none;}
    
        .stories{width:100vw}
        
        .feed{width: 100vw;margin-bottom:75px;}
    
        
    
        .postagem{width:100vw;}
    
        .postagem div img{width:100%;height:100vw;}
    
        .barra-topo .some-no-mobile{display:none;}
    
        .topo-mobile .enviar-mobile{display:block;}
    
        .topo-mobile{width:100vw;margin-left:10px;margin-right:10px;
        justify-content:space-between;}
    
        .margem .menu-mobile{display:flex;
            justify-content:space-around;
            align-items:center;
            position:fixed;
            border:1px solid #DBDBDB;
            height:60px;width:100vw;
            bottom:0;right: 0;
            
            background-color: rgba(255, 255, 255, 1);
       }
            
        .menu-mobile img{width:65px;height:45px;}
    
        
    
        .stories .setinha{display: none;}
    
       
    
    
    
        
    }